body{
background: #3A4965;
font-family: 'Arimo', sans-serif;
}

table{
    width: 1157px;
    height: 680px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 23px;
background: #EEEEEE;
border-collapse: collapse;
}

td {
    border-right: 2px solid #d3d2d2;
}

.th1{
    width: 313px;
height: 159px;
border-right: 2px solid #d3d2d2;
background: #FAFAFA;

}

.chose{
    padding-top: 51px;
    font-weight: 700;
font-size: 18px;
line-height: 28px;
color: #484848;
text-align: center;
}


.prising{
    font-weight: 700;
font-size: 30px;
line-height: 28px;
color: #484848;
}


.th_same{
     width: 284px;
height: 73px;
font-weight: 700;
font-size: 24px;
line-height: 28px;
color: white;
text-align: center;
vertical-align: middle;
text-transform: uppercase;
}


.th2{ 
background: #89C331;

}

.th3{
background: #F04A56;
width: 284px;
height: 73px;
font-weight: 700;
font-size: 30px;
line-height: 28px;
color: white;
text-align: center;
vertical-align: middle;
text-transform: uppercase;
}

.th4{
    background: #20807C;
}

.euro_text{
    width: 280px;
height: 89px;
background: #FAFAFA;
font-weight: 700;
font-size: 60px;
line-height: 28px;
color: #484848;
padding-top: 36px;
padding-left: 33px;
position: relative;
}

.euro_text::after{
    content: ".99";
    width: 61px;
height: 28px;
text-align: center;
    position: absolute;
    font-weight: 700;
font-size: 24px;
line-height: 28px;
left: 120px;
top: 10px;
}

.per_month{
    font-weight: 400;
font-size: 18px;
line-height: 28px;
position: absolute;
text-transform: uppercase;
width: 136px;
height: 28px;
left: 137px;
top: 32px;
}


.text{
    font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #484848;
text-align: center;
padding-top: 22px;
text-transform: uppercase;
}

.background1{
    background: #F2F2F2;
height: 72px;
}

.background{
    background: #E3E3E3;
    height: 72px;
}

.svg_storage{
    background-image: url(./img/.svg);
    background-repeat: no-repeat;
    background-position: 90px 22px;
}
.svg_bandwidth{
    background-image: url(./img/2.svg);
    background-repeat: no-repeat;
    background-position: 77px 24px;
}


.svg_email{
    background-image: url(./img/3.svg);
    background-repeat: no-repeat;
    background-position: 103px 22px;
}


.svg_support{
    background-image: url(./img/4.svg);
    background-repeat: no-repeat;
    background-position: 88px 18px;
}

.svg_products{
    background-image: url(./img/5.svg);
    background-repeat: no-repeat;
    background-position: 83px 21px;
}

.svg_users{
background-image: url(./img/6.svg);
background-repeat: no-repeat;
background-position: 95px 18px;
}

.button{
    height: 109px;
}

.contact_us{
    background: #DDDDDD;
}

.button1{
    width: 195px;
height: 54px;
background: #484848;
color: #FFFFFF;
border: none;
border-radius: 5px 5px 5px 5px;
margin-top: 29px;
margin-left: 57px;
font-weight: 700;
font-size: 16px;
line-height: 16px;
text-transform: uppercase;
position: relative;
}

.button1::after{
    content: "";
    position: absolute;
    left: 0px;
top: 44px;
border-radius: 0px 0px 5px 5px;
    background: #404040;
width: 195px;
height: 9px;
}

.another_color{
    background: #F4F4F4;
}

.same_button{
    width: 195px;
height: 51px;
border: none;
color: white;
font-weight: 700;
font-size: 16px;
line-height: 16px;
text-transform: uppercase;
border-radius: 5px 5px 5px 5px;
margin-top: 30px;
margin-left: 44px;
position: relative;
}

.button2{
background: #89C331;
}

.button2::after{
    content: "";
    position: absolute;
    left: 0px;
top: 44px;
border-radius: 0px 0px 5px 5px;
background: #79B027;
width: 195px;
height: 9px;
}

.button3{
    background: #F04A56;
}

.button3::after{
    content: "";
    position: absolute;
    left: 0px;
top: 44px;
border-radius: 0px 0px 5px 5px;
background: #DF3A46;
width: 195px;
height: 9px;
}

.button4{
    background: #20807C;
}

.button4::after{
    content: "";
    position: absolute;
    left: 0px;
top: 44px;
border-radius: 0px 0px 5px 5px;
background: #16736F;
width: 195px;
height: 9px;
}