body{
    background: #3A4965;
    font-family: 'Arimo', sans-serif;
}

.table_1{
width: 100%;
    max-width: 1161px;
    height: 115px;
    margin: auto;
    margin-top: 28px;
    background: #EEEEEE;
    border-collapse: collapse;
}



.th1{
    background: #FAFAFA;
width: 201px;
height: 115px;
}

.choose{
    font-weight: 700;
font-size: 14px;
text-transform: uppercase;
    color: #484848;
    padding-top: 35px;
}


.prising{
    font-weight: 700;
font-size: 20px;
line-height: 28px;
color: #484848;
text-transform: uppercase;
}


.text{
    width: 160px;
height: 115px;
font-weight: 700;
font-size: 20px;
line-height: 28px;
color: rgba(72, 72, 72, 1);
text-align: center;
text-transform: uppercase;
padding-bottom: 30px;
    vertical-align: bottom;
}

.svg_storage{
   background-image: url(./img/1.svg);
   background-repeat: no-repeat;
background-position: 73px 26px;
background-color: #E3E3E3;
}


.svg_badwidth{
    background-image: url(./img/2.svg);
    background-repeat: no-repeat;
    background-position: 73px 26px;
    background-color: #F2F2F2;
}

.svg_email{
    background-image: url(./img/3.svg);
    background-repeat: no-repeat;
    background-position: 69px 26px;
    background-color: #E3E3E3;
}

.svg_support{
    background-image: url(./img/4.svg);
    background-repeat: no-repeat;
    background-position: 73px 26px;
    background-color: #F2F2F2;

}

.svg_product{
    background-image: url(./img/5.svg);
    background-repeat: no-repeat;
    background-position: 73px 26px;
    background-color: #E3E3E3;
}

.svg_users{
    background-image: url(./img/6.svg);
    background-repeat: no-repeat;
    background-position: 68px 26px;
    background-color: #F2F2F2;
}

.table_2{
    width: 100%;
    max-width: 1161px;
    height: 501px;
    background: #EEEEEE;
    margin: auto;
    margin-top: 10px;
    text-transform: uppercase;
}

.same_content{
    background: #89C331;
    width: 198px;
height: 164px;
font-weight: 700;
font-size: 24px;
line-height: 28px;
color: white;
text-align: center;
padding-top: 23px;
position: relative;
}

.euro{
    font-weight: 700;
font-size: 36px;
line-height: 28px;
width: 67px;
height: 28px;
padding-top: 4px;
position: relative;
}

.euro::after{
    content: ".99";
    font-weight: 700;
font-size: 18px;
line-height: 28px;
position: absolute;
left: 53px;
top: -5px;
}

.month{
    font-weight: 700;
font-size: 14px;
line-height: 28px;
position: absolute;
top: 55px;
    left: 86px;
}

.buy_now{
    width: 147px;
height: 44px;
background: #414141;
margin-top: 13px;
border: none;
border-radius: 5px 5px 5px 5px;
font-weight: 700;
font-size: 16px;
line-height: 28px;
color: white;
text-transform: uppercase;
position: relative;
}

.buy_now::after{
    content: "";
    position: absolute;
    left: 0px;
top: 39px;
border-radius: 0px 0px 5px 5px;
background: #343434;
    width: 147px;
height: 7px;
}

.same_text{
    font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
width: 157px;
height: 165px;
vertical-align: middle;
border-bottom: 2px solid #d3d2d2;
}

.without_border{
    border-bottom: none;
}

.another_bacg{
    background: #E3E3E3;
}


.backround_pink{
    background: #F04A56;
}

.backround_blue{
    background: #20807C;
}

